body{
    font-family: 'Raleway', sans-serif;
    width: 1440px; 
    margin: auto;
    margin-top: 2em;
}

strong{

font-weight: bold;
}

header{
    margin-top: auto;
    margin-left: 2em;    
    
}

nav{
    
    display: flex;
    justify-content: flex-end;
    font-size: 15px;  

}



 nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}




/*selected nav bar*/
nav a{
    text-decoration: none;
    margin-right: 0.2em;
    padding: 1.9em 2em 2em 2em;

}
#sign_in a{
    font-weight: bolder;
    color: #0065FC;
    padding-bottom: 0;
}

#sign_in a:visited{
    color: #0065FC;
}

#sign_in a:hover{
    color: #0054d1;

}

#sign_in a:active{
    color:  #0054d1;
    text-shadow: 0px 0px 5px #013d96;
}

.topnav a:visited{
    color: black;
    
}
.topnav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 3em;
}

.topnav a:focus{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 3em;

}

.top_page{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/* topnav needs :visited to be black but overridden by :hover*/
#logo{
    width: 6em;
    height: 5em;
    
}

#title{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 0.2em;
    margin-bottom: 4px;

}

#soustitre{
    font-size: 16.3px;
    margin-top: 0px;
}

/* Search Bar look out for class and id*/



.search_bar{
    display:inline-flex;
    align-items: center;
    width: 100%;
    
  
}

#search_pointer{
    padding: 17px 16px 13.5px 16px;
    background-color: #f2f2f2;
    border-radius: 11px 0 0 11px;
    color: black;
    
}

#search_bar{    
    border: 2px solid #f2f2f2;
    
    margin-right: 0;
    padding: 16px 80px 13.5px 0;
    border-right: none;  
    font-size: 13px;
    
    
}
#search_bar:focus{
    outline: none;
}

.search_bar ::placeholder{
    opacity: 0.7;
    font-size: 13px;   

}

/*search button*/

.search_button{
    position: relative;
    left: -4px;
    margin-left: 0;
    padding:15px 20px 15px 20px;
 
    color: #DEEBFF; 
    font-size: 17px;   
    font-weight: 600;
    background-color: #0065FC;
    border-radius: 0 11px 11px 0;
    border: none;
    

}

.search_icon{
    display: none;
}

/*Filters*/
#filter_title{
    font-size: 17px;
}

.filters ul{
    list-style-type: none;
    display: flex;
    font-weight: 900;

}

.filters{
    display: flex;
    align-items: center;
    
        
}
.filters i{
    position: relative;
    right: 2px;    
    color: #0065FC;
    margin-right: .8em;    
    border-radius: 50%;
    padding: 19px;
    background-color: #DEEBFF;
    
}

.filters li{
   
    font-size: 15px;
    margin-right: 2em;
    border: 2px solid #dfdfdf;
    border-radius: 40px;
    border-left: none;
    padding: 0 20px 0 0;
    
      
}

.filters a{
    text-decoration: none;
    color: black
}
.filters li:hover{
    font-weight: bolder;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    text-decoration: none;
}


/*Info*/
.info{
    font-size: 15px;
    display: flex;
    align-items: center;
       
}

#info_icon{

    margin-right: 10px;
    color: #0065FC;
    border: 1.5px solid  #dfdfdf;
    border-radius: 50%;
    padding: 4px 8px

}

/*Sections*/

.hostel_cannebiere{
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -1.3em;
    height: 170px;
    


}

.hotel_port{
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg) no-repeat;
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center -1.2em;    
    height: 170px;

}

.hotel_mouettes{
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg) no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center -2.5em;    
    height: 170px;
}

.hotel_mer{
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg) no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center -3.5em;    
    height: 170px;
    
}

.hostel_panier{
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -2em -2em ;
    
    height: 170px;
   
    
    
}

.hotel_amina{
    background: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center -7em;    
    height: 170px;
    
}

.bottom_img{
    
    background-color: white;
    border-radius: 0 0 12px 12px;
    padding: 0 2px 2px 2px; 
    height: 65px;
    padding-left: 0.5em;
}

.stars{
    font-size: 13px;
}



.hotel_soleil{
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat;
    background-size: cover;
    height: 120px;
    
    

}

.hotel_coeur{
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat;
    background-size: cover;  
    margin-top: 1em;
    height: 120px;  

}

.hotel_bleublanc{
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat;
    background-size: cover;
    margin-top: 1em; 
    margin-bottom: 1em;
    height: 120px; 

   
}

.right_img{
    background-color: white;
    border-radius: 0 12px 12px 0px;
    padding: 0 2px 2px 2px;
    width: 12em; 
    
}

.hebergements{
    width: fit-content;
    display: flex;
    
}

.hebergements h2{
    margin-left: 1.5em;
    margin-top: 1.5em;
    font-size: 22px;
    
}



.hebergements a{
    text-decoration: none;
    color: black;

}


.hebergements i{
    color: #0065FC;    
 
}



figure{
    color: black;
    margin: 0;
    box-shadow: 3px 3px 10px #dbdbdb;
}

figure:visited{
    color: black;
}



.stars{
    display: flex;
    
    
    
}

.greystar i{
    color: #dfdfdf;
    position: relative;
    top: -1px;
}





article{
    background-color: #f2f2f2;
    margin: 1em;
    border-radius: 25px;    
    
}

.selection_marseille{
   
    display: flex;
    flex-wrap: wrap;
}


.selection_marseille figure{
    border-radius: 20px;
    border: 4px solid white;
    display: flex;
    flex-direction: column-reverse;
    

}

.selection_marseille a{   

    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 14em;
}

.marseille h3{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    
}

.marseille p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    
}

#subtitle{
    margin-left: 1.5em;
}


aside{
    width: 65%;
    background-color: #f2f2f2;
    margin: 1em;
    border-radius: 25px;
    padding-bottom: 1em;
    
}

.selection_populaires{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    padding-right: 1.5em;

}

.selection_populaires figure{
    display: flex;
    flex-direction: row-reverse;    
    border-radius: 20px;
    border: 4px solid white;
}



#populaires_icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#populaires_icone i{
    color: black;
    font-size: 22px;
    margin-right: 1em;
    position: relative;
    bottom: -7px;
    
}

.selection_populaires h3{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selection_populaires p{
    margin-top: 0px;
    margin-bottom: 5px;
}


section{
    background-color: #DEEBFF;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.activites{
    display: flex;
}

.activites img{
    height: 150px;

}


footer {
    width: auto;
    padding-left: 2em;
    padding-bottom: 3em;
    margin-bottom: 4em;
    display: flex;
    font-size: 12px;    
    background-color: #f2f2f2;
}

footer h3{
    font-weight: 800;
}

footer ul{
    padding-left: 0px;
    margin-right: 20em;
    
}

footer li{
    list-style-type: none;
    font-size: 14px;
        
    margin-top: 1em;
    

}

footer a{
    text-decoration: none;
    

}

footer a:visited{
    color:black;
    
}




@media screen and (max-width: 966px)
{
    body{
        width: auto;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;

    }

    .top_page{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

    }

    .top_mobile{
        justify-content: space-between;
    }

    
    nav{
        
        border-top: none;   
    }

    #logo{
        align-self: flex-start;
    }

    #sign_in{
        position: relative;
        top: -4em;
        
    }


    /*position center*/

    

    .topnav {
        margin-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: left;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 1.5em;
    }

    
 

    .topnav a:hover{
        border-top: none;
        padding-bottom: 1.5em;
        border-bottom: 3px solid #0065FC;
        
        
        

    }

    .topnav a:focus{
        border-top: none;
        border-bottom: 3px solid #0065FC;
 
    }


/*title*/
    .main_titles{
        text-align: center;
        margin-top: 1em;
        width: 100%;
    }

/*Search bar*/
    #search_bar{
        
         border: 1px solid #f2f2f2;
         padding-top: 12px;         

    }
         
    #search_pointer{
        padding-bottom: 10.5px;
        padding-top: 14px;
    }

    .search_button{
        display: none;
          
    }
    
    .search_icon{
        display: inline-flex;
        position: relative;
        left: -13px;
        bottom: -1px;
        margin-left: 0;
        padding:16px;
        color: #DEEBFF;    
        font-weight: 600;
        background-color: #0065FC;
        border-radius: 11px 11px 11px 11px;
        border: none;

    }

 
    .search_bar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
/*filters*/
   
    .filters{
        display: flex;
        flex-direction: column;
        text-align: justify;
        
      
    }
    
    #filter_title{
        align-self: flex-start;
        
    }

    .filters ul{
        display: flex;
        flex-wrap:wrap;
        align-content: space-between;
        position: relative;
        left: -2.5em;
          
    }
    
    .filters li{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        
        
    }
    
    .info{
        display: flex;
        text-align: center;
    }
    #info{
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer h3{
        text-align: left;
    }

    footer li{
        text-align: left;
    }
        

}





