body{
    font-family: 'Raleway', sans-serif;
    width: 1440px; 
    margin: auto;
    margin-top: 2em;
}

strong{
    font-weight: bold;
}

header{
    margin-top: auto;
    margin-left: 2em;    
}

nav{    
    display: flex;    
    font-size: 15px;
}

 nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


/*selected nav bar*/
nav a{
    text-decoration: none;
    margin-right: 0.2em;
    padding: 1.9em 2em 2em 2em;
}

#sign_in a{
    font-weight: bolder;
    color: #0065FC;
}

#sign_in a:visited{
    color: #0065FC;
}

#sign_in a:hover{
    color: #0054d1;
}

#sign_in a:active{
    color:  #0054d1;
    text-shadow: 0px 0px 5px #013d96;
}

.topnav a{
    color: black;
}

.topnav a:visited{
    color: black;    
}

.topnav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 3em;
}

.topnav a:focus{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 3em;
}

.top_page{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 6em;
    height: 5em;    
}

#title{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 0.2em;
    margin-bottom: 4px;
}

#soustitre{
    font-size: 16.3px;
    margin-top: 0px;
}

/* Search Bar look out for class and id*/

.search_bar{
    display:inline-flex;
    align-items: center;
    width: 100%;  
}

#search_pointer{
    padding: 18px 17px 13.5px 16px;
    background-color: #f2f2f2;
    border-radius: 11px 0 0 11px;
    color: black;    
}

#search_bar{    
    border: 2px solid #f2f2f2;    
    margin-right: 0;
    padding: 16px 80px 15px 0;
    border-right: none;  
    font-size: 13px;    
}

#search_bar:focus{
    outline: none;
}

.search_bar ::placeholder{
    opacity: 0.7;
    font-size: 13px;
}


/*search button*/

.search_button{
    position: relative;
    left: -4px;
    margin-left: 0;
    padding:15px 20px 15px 20px; 
    color: #DEEBFF; 
    font-size: 17px;   
    font-weight: 600;
    background-color: #0065FC;
    border-radius: 0 11px 11px 0;
    border: none;
}

.search_icon{
    display: none;
}

/*Filters*/

#filter_title{
    font-size: 17px;
}

.filters ul{
    list-style-type: none;
    display: flex;
    font-weight: 900;
}

.filters{
    display: flex;
    align-items: center;        
}

.filters i{
    position: relative;
    right: 2px;    
    color: #0065FC;
    margin-right: .8em;    
    border-radius: 50%;
    padding: 19px;
    background-color: #DEEBFF;    
}

.filters li{   
    font-size: 15px;
    margin-right: 2em;
    border: 2px solid #dfdfdf;
    border-radius: 40px;
    border-left: none;
    padding: 0 20px 0 0;      
}

.filters a{
    text-decoration: none;
    color: black
}

.filters li:hover{
    font-weight: bolder;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    text-decoration: none;
}


/*Info*/
.info{
    font-size: 15px;
    display: flex;
    align-items: center;       
}

#info_icon{
    margin-right: 10px;
    color: #0065FC;
    border: 1.5px solid  #dfdfdf;
    border-radius: 50%;
    padding: 4px 8px
}

/*Sections*/

/*All Herbergement*/

.hebergements{    
    display: flex;    
}

.hebergements h2{
    margin-left: 1.5em;
    margin-top: 1.5em;
    font-size: 22px;    
}

.hebergements a{
    text-decoration: none;
    color: black;
}


figure{
    color: black;
    margin: 0;
    box-shadow: 3px 3px 10px #dbdbdb;
}

figure:visited{
    color: black;
}

.stars{
    display: flex;
    font-size: 13px; 
    color: #0065FC;   
}

.greystar{
    color: #dfdfdf;
}



/*Selection Marseille*/

article{
    width: 65%;
    background-color: #f2f2f2;   
    margin: 1em 2em 1em 1em;
    border-radius: 25px;    
}

.selection_marseille img{        
    object-fit: cover;
    object-position: center;  
    overflow: hidden;  
    border-radius: 20px 20px 0 0 ;    
}

.selection_marseille{   
    display: flex;
    flex-wrap: wrap;    
}

.selection_marseille figure{
    border-radius: 20px;
    border: 4px solid white;
    display: flex;
    flex-direction: column-reverse;
    height: 170px;
}

.selection_marseille a{
    margin-bottom: 2em;
    margin-left: 2em;
    width: 15em;
}

.bottom_img{    
    background-color: white;
    border-radius: 0 0 12px 12px;
    padding: 0 2px 2px 2px; 
    height: 65px;
    padding-left: 0.5em;
}

.marseille h3{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.marseille p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;    
}

#subtitle{
    margin-left: 1.5em;
}


/*Selection Populaire*/


.hotel_soleil{
    height: 130px;
    display: flex;
    justify-content: flex-end;
}

.hotel_coeur{   
    height: 130px;
    display: flex;
    justify-content: flex-end;    
}

.hotel_bleublanc{
    height: 130px;
    display: flex;
    justify-content: flex-end;
}

aside{
    width: 35%;
    background-color: #f2f2f2;
    margin: 1em;
    border-radius: 25px;
    padding: 0 1em 2em 1em;    
}

.selection_populaires{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.selection_populaires img{
    width: 150px;    
    object-fit: cover;
    object-position: center;  
    overflow: hidden;  
    border-radius: 20px 0 0 20px;    
}

.selection_populaires figure{
    display: flex;
    flex-direction: row-reverse;    
    border-radius: 20px;
    border: 4px solid white;    
}

#populaires_icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#populaires_icone i{
    color: black;
    font-size: 22px;
    margin-right: 1em;
    position: relative;
    bottom: -7px;    
}

.selection_populaires a{
    margin-top: 1.5em;
    background-color: white;
    border-radius: 20px;
}

.selection_populaires h3{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0.3em;
    font-size: 21px;
}

.selection_populaires p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.right_img{
    
    background-color: white;
    border-radius: 0 12px 12px 0px;
    padding: 0 2px 2px 18px;         
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
}


/*Activités*/

section{ 
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;    
}

section h2{
    font-size: 22px;
}

.activites{
    display: flex;
    justify-content:space-between;
}

.activites a{
    text-decoration: none;    
}

.activites h3{
    margin-top: 0.5em;
    font-size: 15px;
}

.bigcolumn{
    display: flex;
    flex-direction: column; 
    border-radius: 20px;  
}

.bigcolumn img{
    height: 350px;   
    width: 320px; 
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.smallcolumn{
    display: flex;
    flex-direction: column;    
    border-radius: 20px;
}

.smallcolumn img{
    
    width: 300px;
    object-fit: cover; 
    object-position: center;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.columns2_4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigrow{
    height: 220px;
}
.smallrow{
    height: 150px;
}

.frioul img{
    object-position: 0 -1em;
}
.notre_dame img{
    object-position: 0 -0.5em;
}

.banner_activites{    
    border-radius: 0 0 20px 20px;
    background-color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 50px;    
    padding-left: 0.6em;
}


/*Footer*/

footer {
    width: auto;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 3em;
    margin-bottom: 4em;
    display: flex;
    font-size: 12px;    
    background-color: #f2f2f2;
}

footer h3{
    font-weight: 800;
}

footer ul{
    padding-left: 0px;
    margin-right: 22em;    
}

footer li{
    list-style-type: none;
    font-size: 14px;        
    margin-top: 1em;
}

footer a{
    text-decoration: none;
    color: black;
}

footer li:hover{
    text-decoration: underline;
    color: black;
}

footer a:visited{
    color:black;    
}

@media  screen and (max-width: 1412px) 
{
    body{
        width: auto;
    }
    
}

@media screen and (max-width: 1367px)
{
    aside{
        width: 65%;
    }    
}




@media screen and (max-width: 1000px)
{
        body{
            width: auto;
            min-width: 320px;
            margin-left: 0;
            margin-top: auto;            
        }

        .top_page{           
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
        }

        nav{   
            width: 100%;         
            border-top: none;
            display: flex;
            flex-direction: column-reverse;
        }

        nav ul{
           align-self: center; 
           position: relative;
           left: -2em;
          
        }

        

        
        #logo{
            align-self: flex-start;
            position: absolute;
            top: -20px;
           
        }
    
        #sign_in{
            align-self: flex-end;
            margin-right: 10px;
            
            
        }
        
    
        /*position center*/       
    
        .topnav {
            border-bottom: 3px solid #f2f2f2;
            padding-bottom: 1em;
        }
        
      
        .topnav a{
            margin-right: 0;            
        }

        
       
        .topnav a:hover{
            border-top: none;
            padding-bottom: 1em;
            border-bottom: 3px solid #0065FC;
        }
    
        .topnav a:focus{
            border-top: none;
            border-bottom: 3px solid #0065FC;
            font-weight: bold;
        }

        .topnav a:active{
            border-top: none;
            border-bottom: 3px solid #0065FC;
            font-weight: bold;
        }


    /*title*/

        #title{
            width: 100%;
            font-size: 18px;            
        }

        #soustitre{
            font-size: 13px;
            margin-top: 0.8em;
        }
    
    /*Search bar*/

       
        #search_bar{
            border: 1px solid #f2f2f2;
            padding-top: 13px;
            width:100px;           
        }

        
             
        #search_pointer{
            padding-bottom: 13px;
            padding-top: 13px;
        }
    
        .search_button{
            display: none;              
        }
        
        .search_icon{
            display: inline-flex;
            position: relative;
            left: -13px;
            bottom: -1px;
            margin-left: 0;
            padding:16px;
            color: #DEEBFF;    
            font-weight: 600;
            background-color: #0065FC;
            border-radius: 11px 11px 11px 11px;
            border: none;
        }
    
        
    /*filters*/
       
        .filters{
            display: flex;
            flex-direction: column;
            text-align: justify;
            flex-wrap: wrap;
        }
        
        #filter_title{
            align-self: flex-start;            
        }
    
        .filters ul{
            
            flex-wrap: wrap;
            align-content: space-between;
            position: relative;
            left: -2.5em;          
        }
        
        .filters li{
            display: flex;
            align-items: center;
            margin-bottom: 1em;        
        }
        
        .info{
            display: flex;
            text-align: center;
        }
    
        #info{
            display: flex;
            flex-wrap: wrap;
        }

        .info p{
            text-align: left;
        }

        /*hebergement*/

        aside{
            width: auto;
            padding: 0 0 2em 0;
            margin: 0;
            border-radius: 0;
        }

        .selection_populaires{ 
            
            padding: 2px;
        }

        .selection_populaires h3{
            font-size: 15px;

        }

        .selection_populaires p{
            font-size: 12px;
        }

        .selection_populaires a{
            width: 90%;
        
        }

        .right_img{
            width: 100%;
        
        }

        .selection_populaires img{
            width: 100%;
             
        }

        

        article{
            width: auto;
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
            background-color: white;
        }

        .marseille h2{
            margin-left: 0.5em;
        }

        .hebergements figure{
            width: 290px;
            background-size: cover;                
        }

        .selection_marseille{            
            justify-content: space-around;
            position: relative;
            left: -3em;
        }

        

        .hebergements{            
            display: flex;
            flex-direction: column-reverse;            
        }        

        /*Activités*/

        section{
            width: auto;
            padding:0.5em;
            margin: 0;
        }

        section h2{
            text-align: left;
            margin-left: 0px;
        }

        .activites{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;            
        }

        .activites a{
            margin-top: 1em;
        }

        .activites img{
            width: auto;
            height: 102px;
        }

        .activites figure{
            height:152px;            

        }

        .vieux_port img{
            object-position: 0;
            
        }

        .frioul img{
            object-position: 0;
        }

        .calanques img{
            object-position: 0 -15em;
        }

        .notre_dame img{
            object-position: 0 -4em;
        }

        .longchamp img{
            object-position: 0 -12em;
        }

        /*Footer*/
    
        footer{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0;
            box-shadow: -1px 1px 2px gray;
            
        }
    
        footer h3{
            text-align: left;
            padding-left: 1em;
        }
    
        footer li{
            text-align: left;
        }

        footer li{
            width: 300px;
            padding-left: 1em;            
        }
        
        .footer_links{
            width: 320px;
            padding-left: 0;
        }
}



@media screen and (max-width:600px)
{
        .selection_marseille{
            flex-direction: column;
            align-items: center;
        }

        
        #subtitle{
           position: relative;
           right: -7em; 
        }
}

